.card > img {
  border-radius: var(--radius-1);
  box-shadow: 13px 7px 22px 0px #00000040;
}

.card h2 {
  font-size: var(--heading-3);
  color: var(--tertiary-color);
  margin-bottom: 1rem;
}

.card h2 span {
  color: var(--primary-color);
}

.card button {
  padding: 0.5 3rem;
  border-radius: var(--radius-2);
}
